#include <os2.h>

BITMAP  4401  "BTOJ2I0I.BMP"
BITMAP  4402  "BTOJ2I0J.BMP"
BITMAP  4403  "BTOJ2I0K.BMP"
BITMAP  4404  "BTOJ2I0L.BMP"
BITMAP  4405  "BTOJ2I0M.BMP"
BITMAP  4406  "BTOJ2I0N.BMP"
BITMAP  4407  "BTOJ2I0O.BMP"
BITMAP  4408  "BTOJ2I0P.BMP"

POINTER 4451  "PTOJ2I02.PTR"
POINTER 4452  "PTOJ2I04.PTR"
