#include <os2.h>
#include "csoj2i0h.h"

BITMAP  ID_BMP_DOWN     .\img\BTOJ2I0S.BMP
BITMAP  ID_BMP_UP       .\img\BTOJ2I0T.BMP
BITMAP  ID_BMP_RELOAD   .\img\BTOJ2I0U.BMP
BITMAP  ID_BMP_RELOAD_R .\img\BTOJ2I0V.BMP
