#include <os2.h>
#include "caoj2i03.h"
#include "cspcsta4.h"

BITMAP ID_CSPCSTA4_BMP_GRAFICO1  .\img\GRAFICO1.BMP
BITMAP ID_CSPCSTA4_BMP_GRAFICO2  .\img\GRAFICO2.BMP
BITMAP ID_CSPCSTA4_BMP_GRAFICO3  .\img\GRAFICO3.BMP

DLGTEMPLATE ID_CSPCSTA4_FRAME LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Grafico", ID_CSPCSTA4_FRAME, 27, 19, 379, 180, NOT FS_DLGBORDER | FS_SIZEBORDER,
            FCF_SYSMENU | FCF_TITLEBAR | FCF_MAXBUTTON
            PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
    END
END

DLGTEMPLATE ID_CSPCSTA4_TITOLI LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_CSPCSTA4_TITOLI, 21, 143, 373, 22, NOT FS_DLGBORDER | WS_VISIBLE
            PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        PUSHBUTTON      _MAKESTR(#ID_CSPCSTA4_BMP_GRAFICO1), ID_CSPCSTA4_TORTA, 2, 9, 15, 11,
                        BS_NOPOINTERFOCUS | BS_USERBUTTON | NOT WS_TABSTOP
        PUSHBUTTON      _MAKESTR(#ID_CSPCSTA4_BMP_GRAFICO2), ID_CSPCSTA4_BARRE, 18, 9, 15, 11,
                        BS_NOPOINTERFOCUS | BS_USERBUTTON | NOT WS_TABSTOP
        PUSHBUTTON      _MAKESTR(#ID_CSPCSTA4_BMP_GRAFICO3), ID_CSPCSTA4_LINEE, 34, 9, 15, 11,
                        BS_NOPOINTERFOCUS | BS_USERBUTTON | NOT WS_TABSTOP
        CONTROL         "", ID_CSPCSTA4_DETAILS, 52, 9, 315, 11, "CAOJ2I03",
                        WS_GROUP | WS_VISIBLE
        CONTROL         "", ID_CSPCSTA4_PERC, 0, 0, 373, 8, "CAOJ2I04", WS_GROUP
    END
END
