#include <os2.h>
#include "nfmlib.h"

DLGTEMPLATE ID_SETTINGS LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Impostazioni", ID_SETTINGS, 28, 16, 380, 182, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR | FCF_CLOSE
            PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        NOTEBOOK        ID_NOTEBOOK, 0, 0, 380, 180, BKS_BACKPAGESBR |
                        BKS_MAJORTABRIGHT | WS_GROUP | BKS_NEWCONT
    END
END

DLGTEMPLATE ID_SETTINGS_A LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_SETTINGS_A, 13, 18, 365, 160, NOT FS_DLGBORDER |
            WS_VISIBLE
            PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        SPINBUTTON      ID_SPINR, 25, 8, 35, 12, SPBS_NUMERICONLY |
                        SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_FASTSPIN
        SPINBUTTON      ID_SPING, 72, 8, 35, 12, SPBS_NUMERICONLY |
                        SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_FASTSPIN
        SPINBUTTON      ID_SPINB, 119, 8, 35, 12, SPBS_NUMERICONLY |
                        SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_FASTSPIN
        LTEXT           "Red", -1, 28, 18, 35, 6, DT_BOTTOM
        LTEXT           "Green", -1, 75, 18, 35, 6, DT_BOTTOM | NOT WS_GROUP
        LTEXT           "Blue", -1, 122, 18, 35, 6, DT_BOTTOM | NOT WS_GROUP
        CONTROL         "", ID_COL, 6, 24, 168, 108, "ColorSelectClass",
                        WS_GROUP | WS_VISIBLE
    END
END
